################
#  General
################
*.log
*.zip
*.tar
*.gz
*.rar

################
#  Java
################
*.class
*.jar
*.war
*.ear

################
#  Eclipse
################
bin/

# STS (Spring Tool Suite)
.springBeans

################
#  Gradle
################
.gradle
/build/
!src/**/build/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties
.gradletasknamecache
gradle/wrapper/gradle-wrapper.properties
